@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");
/*resetear sitio web*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; 
*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #dddddd;
}

header {
  position: sticky;
  top: 0%;
}

.navbar {
  background-color: #191919;
  border-bottom: 4px solid #dddddd;
}

.offcanvas-body {
  background-color: #191919;
}

.navbar-brand {
  color: #ffffff;
  font-weight: bold;
}
.navbar-brand:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
}

.offcanvas-title .navbar-toggler {
  color: #ffffff;
  border-color: #ffffff;
}

.offcanvas-header {
  background-color: #191919;
  border-bottom: 1px solid #ffffff;
}

.offcanvas-title {
  color: #ffffff;
  font-size: 1.5rem;
}
.offcanvas-title:hover {
  color: #ffffff;
}

.btn-close-white {
  color: #ffffff;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1.25rem;
  padding: 1rem;
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
}

.bi-list {
  font-size: 25px;
  color: #ffffff;
}

.buttons {
  background-color: #191919;
  padding: 3px;
  display: flex;
  justify-content: center;
  width: 250px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
.buttons a {
  text-align: center;
  font-size: 20px;
  margin: 10px;
  transition: transform 0.3s ease;
}
.buttons a:hover {
  transform: scale(1.7);
}

a {
  text-decoration: none;
  color: white;
}

footer {
  color: #ffffff;
  text-align: center;
  background-color: #191919;
  padding: 5px;
  bottom: 0;
  width: 100%;
}

.welcome {
  color: rgb(0, 0, 0);
  text-align: left;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.destacados {
  color: rgb(0, 0, 0);
  text-align: left;
  font-weight: bold;
  padding: 20px;
}

.grilla {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(auto, 500px);
  grid-template-areas: "area1 area2 area3" "area4 area5 area6";
  padding: 30px;
}
.grilla .caja {
  width: 400px;
  height: 450px;
  background-color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.grilla .caja img {
  width: 400px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}
.grilla .caja h2 {
  color: white;
  text-align: left;
  font-weight: bold;
}
.grilla .caja.c1 {
  grid-area: area1;
  display: flex;
  flex-direction: column;
}
.grilla .caja.c1 .grilla .caja.c2 .grilla .caja.c3 .grilla .caja.c4 .grilla .caja.c5 .grilla .caja.c6 div {
  padding: 10px;
}
.grilla .caja.c1 .grilla .caja.c2 .grilla .caja.c3 .grilla .caja.c4 .grilla .caja.c5 .grilla .caja.c6 img {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
.grilla .caja.c2 {
  grid-area: area2;
  display: flex;
  flex-direction: column;
}
.grilla .caja.c3 {
  grid-area: area3;
  display: flex;
  flex-direction: column;
}
.grilla .caja.c4 {
  grid-area: area4;
  display: flex;
  flex-direction: column;
}
.grilla .caja.c5 {
  grid-area: area5;
  display: flex;
  flex-direction: column;
}
.grilla .caja.c6 {
  grid-area: area6;
  display: flex;
  flex-direction: column;
}

.accesorios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 50px 15px;
}
.accesorios-body {
  width: 500px;
  border-radius: 3%;
  display: inline-block;
  width: 30%;
  text-align: left;
  margin: 10px;
  background-color: #191919;
}
.accesorios-body img {
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.accesorios-body h2 {
  padding: 5px;
  color: white;
}
.accesorios-body p {
  padding: 5px;
  color: white;
}

.bike {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 50px 15px;
}
.bike-body {
  width: 500px;
  border-radius: 3%;
  display: inline-block;
  width: 30%;
  text-align: left;
  margin: 10px;
  background-color: #191919;
}
.bike-body img {
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.bike-body h2 {
  padding: 5px;
  color: white;
}
.bike-body p {
  padding: 5px;
  color: white;
}

.title_bike {
  padding: 30px;
  text-align: left;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #191919;
  font-size: 25px;
  padding: 100px 0px;
  margin: 100px 10%;
}
.form-body {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form fieldset {
  border: none;
}
.form label {
  color: #ffffff;
  margin-bottom: 5px;
}
.form input {
  border-radius: 7px;
}
.form textarea {
  border-radius: 7px;
}

.card-grid {
  margin: 100px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "img titulo titulo" "img descrip descrip";
  justify-items: start;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  gap: 15px;
  border-radius: 5%;
  background-color: #191919;
  color: rgba(238, 238, 238, 0.9333333333);
  box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.589);
}
.card-grid img {
  grid-area: img;
  width: 100%;
  height: 400px;
  margin-left: 10px;
  object-fit: cover;
}
.card-grid h2 {
  grid-area: titulo;
  padding: 15px;
  font-size: 30px;
}
.card-grid-description {
  grid-area: descrip;
  padding: 10px;
  font-size: 24px;
}

.card-grid-b2 {
  margin: 100px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "titulo titulo map" "descrip descrip map";
  justify-items: start;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  gap: 15px;
  border-radius: 5%;
  background-color: #191919;
  color: rgba(238, 238, 238, 0.9333333333);
  box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.589);
}
.card-grid-b2 iframe {
  grid-area: map;
  height: 400px;
  margin-right: 10px;
}
.card-grid-b2 h2 {
  grid-area: titulo;
  padding: 15px;
  font-size: 30px;
}
.card-grid-b2-description {
  grid-area: descrip;
  padding: 10px;
  font-size: 24px;
}

@media (max-width: 1300px) {
  .grilla {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 15px;
  }
  .grilla .caja {
    width: 400px;
  }
  .grilla .caja .img {
    object-fit: cover;
  }
}
@media (max-width: 900px) {
  .bike {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 15px;
  }
  .bike-body {
    width: 350px;
  }
  .bike-body img {
    object-fit: cover;
  }
  .accesorios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 15px;
  }
  .accesorios-body {
    width: 350px;
  }
  .accesorios-body img {
    object-fit: cover;
  }
}
@media (max-width: 800px) {
  .form-floating {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .card-grid {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
