.bike {
  @include flex(center, center, wrap);
  padding: 50px 15px;

  &-body {
    width: 500px;
    border: 3px solid $main-color;
    border-radius: 3%;
    display: inline-block;
    width: 30%;
    text-align: left;
    margin: 10px;
    background-color: $main-color;
    transition: 0.3s;
    &:hover {
      transform: scale(1.05, 1.05);
    }

    img {
      border-top-left-radius: 3%;
      border-top-right-radius: 3%;
      border-bottom-left-radius: 2%;
      border-bottom-right-radius: 2%;
      object-fit: cover;
      width: 100%;
      height: 300px;
    }

    h2 {
      padding: 5px;
      color: white;
    }

    p {
      padding: 5px;
      color: white;
    }
  }
}

.title_bike {
  padding: 30px;
  text-align: left;
  font-weight: bold;
}
