.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
}

.form-floating {
  height: 50px;
  width: 700px;
}
