@media (max-width: 1300px) {
  .grilla {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 15px;

    .caja {
      width: 400px;
      .img {
        object-fit: cover;
      }
    }
  }
}
@media (max-width: 900px) {
  .bike {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 15px;

    &-body {
      width: 350px;

      img {
        object-fit: cover;
      }
    }
  }

  .accesorios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 15px;

    &-body {
      width: 350px;

      img {
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 800px) {
  .form-floating {
    width: 100%;
  }

  .card-grid {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    justify-content: center;
  }

  .card-grid-b2 {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    justify-content: center;
  }
}
