@media (max-width: 900px) {
  .bike {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 15px;
  }
  .bike-body {
    width: 300px;
  }
  .bike-body img {
    object-fit: cover;
  }
}

@media (max-width: 800px) {
  .form-floating {
    width: 100%;
  }
}

@media (max-width: 660px) {
  .grilla {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 15px;
  }
  .caja {
    width: 150px;
  }
}
