.card-grid {
  margin: 100px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "img titulo titulo"
    "img descrip descrip";
  justify-items: start;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  gap: 15px;
  border-radius: 10px;
  background-color: $main-color;
  color: #eeee;
  box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.589);

  img {
    grid-area: img;
    width: 100%;
    height: 400px;
    margin-left: 10px;
    object-fit: cover;
  }

  h2 {
    grid-area: titulo;
    padding: 15px;
    font-size: 30px;
  }

  &-description {
    grid-area: descrip;
    padding: 10px;
    font-size: 24px;
  }
}

.card-grid-b2 {
  @extend .card-grid;
  grid-template-areas:
    "titulo titulo map"
    "descrip descrip map";

  iframe {
    grid-area: map;
    height: 400px;
    margin: 10px;
  }
}
