.navbar {
  background-color: $main-color;
  border-bottom: 4px solid #dddddd;

  &-brand {
    color: $white-color;
    font-weight: bold;
    padding: 10px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size 0.3s;

    &:hover {
      color: $white-color;
      background-image: linear-gradient($white-color, $white-color);
      background-size: 100% 2px;
    }
  }

  &-nav .nav-link {
    color: $white-color;
    font-size: 1.25rem;
    padding: 10px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size 0.3s;

    &:hover {
      background-image: linear-gradient($white-color, $white-color);
      background-size: 100% 2px;
    }
  }
}

.offcanvas {
  &-title {
    color: $white-color;
    font-size: 1.5rem;

    &:hover {
      color: $white-color;
    }
  }

  &-body {
    background-color: $main-color;
  }

  &-title .navbar-toggler {
    color: $white-color;
    border-color: $white-color;
  }

  &-header {
    background-color: $main-color;
    border-bottom: 1px solid $white-color;
  }
}

.btn-close-white {
  color: $white-color;
}

.bi-list {
  font-size: 25px;
  color: $white-color;
}
