.navbar {
  background-color: $main-color;
  border-bottom: 4px solid #dddddd;

  &-brand {
    color: $white-color;
    font-weight: bold;

    &:hover {
      color: $white-color;
      border-bottom: 2px solid $white-color;
      padding-bottom: 10px;
    }
  }

  &-nav .nav-link {
    color: $white-color;
    font-size: 1.25rem;
    padding: 1rem;

    &:hover {
      color: $white-color;
      border-bottom: 2px solid $white-color;
      padding-bottom: 10px;
    }
  }
}

.offcanvas {
  &-title {
    color: $white-color;
    font-size: 1.5rem;

    &:hover {
      color: $white-color;
    }
  }

  &-body {
    background-color: $main-color;
  }

  &-title .navbar-toggler {
    color: $white-color;
    border-color: $white-color;
  }

  &-header {
    background-color: $main-color;
    border-bottom: 1px solid $white-color;
  }
}

.btn-close-white {
  color: $white-color;
}

.bi-list {
  font-size: 25px;
  color: $white-color;
}
